:root
  //var
  --purple: #881588
  --purple-dark: #5e1660
  --purple-gray: #e5dce5

  //utils
  font-size: 16px

@media screen and (max-width: 650px)
  :root
    font-size: 14px

.orange
  color: orange !important
.blue
  color: blue !important
.yellow
  color: #e8dd46 !important
.purple
  color: var(--purple-dark) !important
.red
  color: red !important
.green
  color: #69e846