.btn-comp
  display: flex
  align-items: center
  justify-content: center
  border-radius: 6px
  border: none
  font-size: 14px 
  padding: 6px 15px
  text-transform: uppercase
  color: white
  background: #1b61a1
  white-space: nowrap
  &.link
    background: none
    color: black
  &:hover
    cursor: pointer
    opacity: 0.7
  &:active
    opacity: 0.4
