.top-bar
  display: none
  background: var(--purple-dark)
  color: white
  .MuiIconButton-root
    color: white

.page-navs
  .MuiPaper-root
    background: var(--purple-dark)
    color: white
    box-shadow: 0 0 10px black
  a
    color: inherit
    text-decoration: none
    .MuiListItemIcon-root
      color: inherit
      min-width: 30px
    a

