@import ./utils/styles/shared
.app
  background: #f4f4f4
  height: 100vh
  display: flex
  .view-cont
    padding: 0 15px 15px
    flex-grow: 1
    height: 100vh
    overflow: scroll
  @media screen and (max-width: 800px)
    .view-cont
      padding: 0
    .main-view
      padding: 0 12px 12px
    .sidebar
      display: none
    .top-bar
      display: block
  .fff
    position: absolute
    top: 50%
    right: 50%
    padding: 15px
    transform: translate(50%, -50%)
    text-align: center
    .mmm
      display: flex
      >div
        text-align: center
        margin: 20px
      .bbb
        height: 100px
        width: 100px
        border-radius: 100px
        background: gray
        margin: 5px 5px 15px
